@{
    ViewData["Title"] = "Home Page";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">    
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Vehicle Management System</h1>
        <p class="lead">This is an ASP.NET Core MVC Application Using EntityFramework Core.</p>
        
        <hr class="my-4">

        <p>Provides vehicle fleet management and service record functionality</p>

        <p>Developed as part of COM741 Web Based Application Development Module</p>
        
        <p>(c) - Ulster University </p>
        
    </div>
</div>

