@{
    ViewData["Title"] = "Privacy Policy";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">    
        <li class="breadcrumb-item active" aria-current="page">Privacy</li>
    </ol>
</nav>

<h1>@ViewData["Title"]</h1>


<div>
    <b>Last updated May 08, 2020</b>
</div>

<div class="container mt-5">
    <div>

        Thank you for choosing to be part of our community at Vehicle Management System. We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about our notice, or our practices with regards to your personal information, please contact us at peter_colhoun@hotmail.co.uk.

        When you visit our website VMS.Web, and use our services, you trust us with your personal information. 

    </div>
</div>

<div class="container mt-5">
    <div>
        We take your privacy very seriously. In this privacy notice, we seek to explain to you in the clearest way possible what information we collect, how we use it and what rights you have in relation to it. We hope you take some time to read through it carefully, as it is important. If there are any terms in this privacy notice that you do not agree with, please discontinue use of our Sites and our services.

        This privacy notice applies to all information collected through our website (such as Vehicle Info), and/or any related services, sales, marketing or events (we refer to them collectively in this privacy notice as the "Services").

        Please read this privacy notice carefully as it will help you make informed decisions about sharing your personal information with us.
    </div>
</div>