@model Vehicle

<!-- Breadcrumb Navigation -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
            <a asp-controller="Vehicle" asp-action="Index">Vehicles</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page"> 
            Details
        </li>
    </ol>
</nav>

<h3 class="mt4 mb4">Edit Vehicle</h3>


<form asp-action="Edit">

 <div asp-validation-summary="ModelOnly" class="text-danger"></div>
 <input type="hidden" asp-for="VehicleId" class="form-control"/>


    <div class="row">

        <div class="form-group col-6">
                <label asp-for="Make" class="control-label"></label>
                <input asp-for="Make" class="form-control"/>
                <span asp-validation-for="Make" class="text-danger"></span>
        </div>

        <div class="form-group col-6">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control"/>
                <span asp-validation-for="Model" class="text-danger"></span>
        </div>

    </div> <!-- first row -->

    <div class="row">

        <div class="form-group col-3">
                <label asp-for="DateOfReg" class="control-label"></label>
                <input type="date" asp-for="DateOfReg" class="form-control"/>
                <span asp-validation-for="DateOfReg" class="text-danger"></span>
        </div>

        <div class="form-group col-3">
                <label asp-for="Registration" class="control-label"></label>
                <input asp-for="Registration" class="form-control"/>
                <span asp-validation-for="Registration" class="text-danger"></span>
        </div>

        <div class="form-group col-2">
                <label asp-for="EngineSize" class="control-label"></label>
                <input asp-for="EngineSize" class="form-control"/>
                <span asp-validation-for="EngineSize" class="text-danger"></span>
        </div>

        <div class="form-group col-2">
                <label asp-for="Doors" class="control-label"></label>
                <input asp-for="Doors" class="form-control"/>
                <span asp-validation-for="Doors" class="text-danger"></span>
        </div>

        <div class="form-group col-2">
                <label asp-for="C02" class="control-label"></label>
                <input asp-for="C02" class="form-control"/>
                <span asp-validation-for="C02" class="text-danger"></span>
        </div>

    </div> <!-- second row -->

    <div class="row">

        <div class="form-group col-4">
                <label asp-for="Transmission" class="control-label"></label>
                <input asp-for="Transmission" class="form-control"/>
                <span asp-validation-for="Transmission" class="text-danger"></span>
        </div>

        <div class="form-group col-4">
                <label asp-for="Fuel" class="control-label"></label>
                <input asp-for="Fuel" class="form-control"/>
                <span asp-validation-for="Fuel" class="text-danger"></span>
        </div>

        <div class="form-group col-4">
                <label asp-for="Body" class="control-label"></label>
                <input asp-for="Body" class="form-control"/>
                <span asp-validation-for="Body" class="text-danger"></span>
        </div>

    </div><!--third row -->


    <div class="row">
            <div class="form-group col-6">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control"/>
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
    </div> <!-- forth row -->

    <div class="form-group">
        <input type ="submit" value="Save" class="btn btn-primary"/>
        <a class="btn btn-secondary" asp-action="Index">Cancel</a>
    </div> 


</form>